# Lyst Index

Brand and Product Ratings

Issues 2019 Q2 – 2023 Q3 (what is currently available)

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
"""
year = int from 20 to 23
quarter = int from 1 to 4
"""
def parse_page(year, quarter):
  r = requests.get(f"https://www.lyst.com/data/the-lyst-index/q{quarter}{year}/")
  page = BeautifulSoup(r.text, 'html.parser')

  # Brands
  brands_h3 = page.find_all(class_="hottest-brand-item__name")
  if len(brands_h3) == 0:
    brands_h3 = page.find_all(class_="hottest-brand-item__name h3")

  brands = [b.text.strip() for b in brands_h3]

  brand_table = pd.DataFrame({"place": range(1, 21), "brand": brands,
                              "year": [2000 + year]*20, "quarter": [quarter]*20})


  # Products
  products_h4 = page.find_all(class_="hottest-products__text")
  if len(products_h4) == 0:
    products_h4 = page.find_all(class_="hottest-products__text h4")

  products = [p.text.strip() for p in products_h4]

  if len(products) >= 20:
    products = products[:20]
    product_table = pd.DataFrame({"gender": ['women']*10 + ['men']*10, "place": list(range(1, 11))*2,
                                  "product": products, "year": [2000 + year]*20, "quarter": [quarter]*20})
  else:
    product_table = pd.DataFrame({"gender": ['all']*10, "place": range(1, 11),
                                  "product": products, "year": [2000 + year]*10, "quarter": [quarter]*10})


  return (brand_table, product_table)

In [ ]:
BRANDS = []
PRODUCTS = []

for year in range(19, 24):
  start = 2 if year == 19 else 1
  end = 4 if year == 23 else 5
  for quarter in range(start, end):
    brands, products = parse_page(year, quarter)
    BRANDS.append(brands)
    PRODUCTS.append(products)

brand_df = pd.concat(BRANDS)
product_df = pd.concat(PRODUCTS)

In [ ]:
brand_df

In [ ]:
product_df

In [ ]:
brand_df.to_csv("lyst_brands")
product_df.to_csv("lyst_products")

Additional table

In [ ]:
new_brand_df = brand_df.copy()
new_brand_df['date'] = new_brand_df['year'].apply(str) + ' Q' + new_brand_df['quarter'].apply(str)
new_brand_df = new_brand_df.drop(['year', 'quarter'], 1)

<ipython-input-8-755c9158dbec>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  new_brand_df = new_brand_df.drop(['year', 'quarter'], 1)

In [ ]:
top10 = new_brand_df[new_brand_df.place <= 10]

In [ ]:
top = top10.pivot(columns="brand", index="date").reset_index()
top

          date      place                                       \
brand          Balenciaga Bottega Veneta Burberry Diesel  Dior
0      2019 Q2        3.0            NaN      NaN    NaN   NaN
1      2019 Q3        2.0            NaN      8.0    NaN   NaN
2      2019 Q4        3.0            NaN     10.0    NaN   NaN
3      2020 Q1        2.0            NaN      NaN    NaN   NaN
4      2020 Q2        4.0           10.0      8.0    NaN   NaN
5      2020 Q3        5.0            9.0      NaN    NaN   NaN
6      2020 Q4        2.0            7.0      NaN    NaN   NaN
7      2021 Q1        4.0            8.0      NaN    NaN   3.0
8      2021 Q2        6.0            8.0      NaN    NaN   2.0
9      2021 Q3        1.0            7.0      NaN    NaN   3.0
10     2021 Q4        1.0           10.0      NaN    NaN   6.0
11     2022 Q1        1.0            8.0      NaN    NaN   6.0
12     2022 Q2        2.0            NaN     10.0    9.0   6.0
13     2022 Q3        4.0            NaN      NaN    8.0   6.0
14     2022 Q4        NaN            6.0      NaN    NaN   8.0
15     2023 Q1        NaN            6.0      NaN    NaN   NaN
16     2023 Q2        NaN            5.0      NaN    NaN  10.0
17     2023 Q3        NaN            4.0     10.0    NaN   NaN

                                             ...                       \
brand Dolce & Gabbana Fendi Gucci Jacquemus  ... Miu Miu Moncler Nike
0                 NaN   7.0   1.0       NaN  ...     NaN     NaN  9.0
1                 NaN   7.0   3.0       NaN  ...     NaN     NaN  NaN
2                 NaN   6.0   2.0       NaN  ...     NaN     4.0  NaN
3                 NaN   7.0   4.0       NaN  ...     NaN     6.0  3.0
4                 NaN   9.0   3.0       NaN  ...     NaN     NaN  1.0
5                 NaN   6.0   1.0       NaN  ...     NaN     NaN  3.0
6                 NaN  10.0   1.0       NaN  ...     NaN     3.0  NaN
7                 NaN   NaN   1.0       NaN  ...     NaN     5.0  2.0
8                 NaN   NaN   1.0       NaN  ...     NaN     7.0  3.0
9                 NaN   9.0   2.0       NaN  ...     NaN     NaN  6.0
10                NaN   7.0   2.0       NaN  ...     NaN     5.0  NaN
11                NaN   9.0   2.0       NaN  ...    10.0     7.0  NaN
12                NaN   8.0   1.0       NaN  ...     7.0     NaN  NaN
13                NaN   7.0   1.0       NaN  ...     5.0     NaN  NaN
14                9.0   NaN   2.0       NaN  ...     4.0     3.0  NaN
15                7.0   NaN   9.0       NaN  ...     2.0     3.0  NaN
16                NaN   NaN   9.0       NaN  ...     4.0     8.0  NaN
17                NaN   NaN   NaN       9.0  ...     1.0     7.0  NaN


brand Off-White Prada Saint Laurent Stone Island Valentino Versace Vetements
0           2.0   5.0          10.0          8.0       4.0     6.0       NaN
1           1.0   5.0           9.0          NaN       6.0     4.0      10.0
2           1.0   7.0           9.0          NaN       8.0     5.0       NaN
3           1.0   5.0           9.0          NaN       8.0    10.0       NaN
4           2.0   5.0           6.0          NaN       NaN     7.0       NaN
5           2.0   4.0           8.0          NaN      10.0     7.0       NaN
6           4.0   5.0           6.0          NaN       9.0     8.0       NaN
7          10.0   6.0           9.0          NaN       NaN     NaN       NaN
8           NaN   5.0           9.0          NaN       NaN    10.0       NaN
9           NaN   4.0          10.0          NaN       NaN     8.0       NaN
10          NaN   3.0           8.0          NaN       NaN     9.0       NaN
11          NaN   4.0           NaN          NaN       5.0     NaN       NaN
12          NaN   3.0           NaN          NaN       4.0     NaN       NaN
13          NaN   2.0           NaN          NaN       3.0    10.0       NaN
14          NaN   1.0          10.0          NaN       5.0     NaN       NaN
15          NaN   1.0          10.0          NaN       4.0     8.0       NaN
16          NaN   2.0           7.0          NaN       6.0     3.0       NaN
17          NaN   3.0           6.0          NaN       8.0     5.0       NaN

[18 rows x 22 columns]

In [ ]:
top.to_csv('dozen_brands.csv')